/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    background-color: #3D9970;
    font-family: 'Roboto Mono', monospace;
    color: #222;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}